<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <style>
        .hot {
            color: red;
            font-family: courier;
            font-size: 160%;
        }
    </style>
</head>
<body>
	@RenderBody()
</body>
</html>
